.submit-btn {
    @apply 
    text-white 
    font-medium 
    rounded 
    bg-blue-500 
    px-10 
    py-2.5 
    m-auto 
    focus:ring-4 
    focus:ring-blue-300 
    hover:bg-blue-700 
    hover:cursor-pointer;
}
.back-btn {
    @apply 
    text-white 
    text-sm 
    font-medium 
    rounded 
    flex 
    flex-row-reverse 
    bg-blue-500 
    px-4 
    py-1
    focus:ring-4 
    focus:ring-blue-300 
    hover:bg-blue-700 
    hover:cursor-pointer;
}